---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: orka-svc
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: orka-token-manager
rules:
  - apiGroups: [""]
    resources:
      - secrets
    verbs:
      - create
      - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: orka-token-manager
subjects:
- kind: ServiceAccount
  name: orka-svc
  namespace: $(namespace)
roleRef:
  kind: ClusterRole
  name: orka-token-manager
  apiGroup: rbac.authorization.k8s.io
